In [0]:
!git clone https://github.com/kak-to-tak/Google_rusngram_spellcheck

Cloning into 'Google_rusngram_spellcheck'...
remote: Enumerating objects: 99, done.
remote: Counting objects: 100% (99/99), done.
remote: Compressing objects: 100% (77/77), done.
remote: Total 99 (delta 37), reused 46 (delta 13), pack-reused 0
Unpacking objects: 100% (99/99), done.

In [0]:
!pip3 install -r Google_rusngram_spellcheck/requirements.txt

In [0]:
%cd Google_rusngram_spellcheck/main/

/content/Google_rusngram_spellcheck/main

In [0]:
!sh ../data/download.sh

In [0]:
from SpellCorrect import spellCorrect
import pandas as pd

In [0]:
class Evaluation(object):
    def __init__(self):
        self.correct = spellCorrect()
        self.val_df = pd.read_csv('val_df_lm.csv')
        self.tp, self.fp, self.tn, self.fn = [], [], [],[]
        self.prec, self.rec, self.f1 = [],[],[]
        self.acc = []
        self.corrections = self.correct_to_check()
        self.boundaries = [[0,0]]
    
    def define_rates(self):
        try:
            tp = self.val_df[(self.val_df['rough_corrections']==self.val_df['new_ngram']) \
                                 & (self.val_df['new_ngram']!=self.val_df['n_gram'])]
            self.tp.append(tp)
            
            fp =  self.val_df[(self.val_df['rough_corrections']!=self.val_df['new_ngram']) \
                                  & (self.val_df['new_ngram']==self.val_df['n_gram'])]
            self.fp.append(fp)
            
            fn = self.val_df[(self.val_df['rough_corrections']==self.val_df['n_gram']) & \
                        (self.val_df['new_ngram']!=self.val_df['n_gram']) & \
                 (self.val_df['decision']!='транслитерация') \
                 & (self.val_df['decision']!='меньше пяти символов')]
            self.fn.append(fn)
            
            tn = self.val_df[((self.val_df['rough_corrections']==self.val_df['n_gram']) \
                                 & (self.val_df['new_ngram']==self.val_df['n_gram'])) \
                             |  ((self.val_df['rough_corrections']==self.val_df['n_gram']) & \
                        (self.val_df['decision']=='транслитерация'))]
            self.tn.append(tn)
        
        except KeyError:
            print ("No corrections to evaluate\nAt first use SpellCorrect")
            return [],[],[]
    
    def evaluate(self):
        if (len(self.tp[-1])+len(self.fp[-1])) == 0:
            self.prec.append(0)
        else:
            self.prec.append(len(self.tp[-1]) / (len(self.tp[-1]) + len(self.fp[-1])))

        if (len(self.tp[-1])+len(self.fn[-1])) == 0:
            self.rec.append(0)
        else:
            self.rec.append(len(self.tp[-1]) / (len(self.tp[-1]) + len(self.fn[-1])))
        if (self.prec[-1]+self.rec[-1]) == 0:
            self.f1.append(0)
        else:
            self.f1.append((2*(self.prec[-1]*self.rec[-1]))/(self.prec[-1]+self.rec[-1]))
            
        if (len(self.tp[-1])+len(self.tn[-1])+len(self.fn[-1])+len(self.fp[-1]))==0: 
            self.acc.append(0)
        else:
            self.acc.append((len(self.tp[-1])+len(self.tn[-1]))/(len(self.tp[-1])+len(self.tn[-1])+len(self.fn[-1])+len(self.fp[-1])))
            
        if self.prec[-1]>0.5:
          print('Precision - ', round(self.prec[-1], 2))
          print('Recall - ', round(self.rec[-1], 2))
          print('F1 - ', round(self.f1[-1], 2))
          print('Accuracy - ', round(self.acc[-1], 2))
          print("="*60)
        
    def myCoolGridSearch(self, rules=False):
        "Because I didn't know how to use that one here"
        model_probs = self.val_df['model_prob']
        params = sorted(list(set(model_probs)))
        for upper_boundary in params[::-1]:
            for lower_boundary in params:
              self.boundaries.append([upper_boundary, lower_boundary])
              
              self.evaluate_with_boudary(upper_boundary, lower_boundary, rules)
              if self.prec[-1]>0.5:
                print('Upper boundary = {}\nLower boundary = {}'.format(upper_boundary,lower_boundary))
              if upper_boundary<lower_boundary:
                break
              
    def correct_to_check(self):
      model_probs = self.val_df['model_prob']
      words = self.val_df['n_gram']
      corrections=[self.correct.to_check(word, model_probs.iloc[[i]][i], 0, 0) for i, word in enumerate(words)]
      self.val_df['rough_corrections'] = corrections
      self.define_rates()
      self.evaluate()
      
      return corrections
    
    def evaluate_with_boudary(self, upper, lower, rules=False):
      words = self.val_df['n_gram']
      model_probs = self.val_df['model_prob']
      if upper!=0 and lower!=0:
        if rules:
          new_corrections=[correction if model_probs[[i]][i] < upper and model_probs[[i]][i] > lower \
                             else words[[i]][i] if not self.with_rules(words[[i]][i], correction) \
                             else correction for i, correction in enumerate(self.corrections)]
          
        else:
          new_corrections=[correction if model_probs[[i]][i] < upper and model_probs[[i]][i] > lower \
                                 else words[[i]][i] for i, correction in enumerate(self.corrections)]
        self.val_df['rough_corrections'] = new_corrections
      else:
        self.val_df['rough_corrections'] = self.corrections  
      self.define_rates()
      self.evaluate()
      
    def with_rules(self, word, correction):
      if len(word)>4:
        rule1 = word[-1] in 'шщцжЦШЩЖ' and len(word)>5
        rule2 = any(i.isdigit() for i in word)
        rule3 = word[-2] in 'щшцЩШЦ' and word[-1] in 'июяИЮЯ' and len(word)>5
        rule4 = ('ѣ' or 'Ѣ')  in correction
        if rule1 or rule2 or rule3 or rule4:
          return True
      return False

In [0]:
%%time
evaluation = Evaluation()

Loading dictionary from data file
Loading counts
Loading error dataframe
Precision -  0.24
Recall -  0.91
F1 -  0.38
Accuracy -  0.52
============================================================
CPU times: user 24min 29s, sys: 12.4 s, total: 24min 42s
Wall time: 24min 42s

In [0]:
%%time
evaluation.myCoolGridSearch()

In [0]:
evaluation.evaluate_with_boudary(0.11082839220762253, 0.09979256987571716)

Precision -  0.71
Recall -  0.04
F1 -  0.07
Accuracy -  0.75
============================================================

In [0]:
evaluation.tp[-1]

         raw_ngram  year  match_count  ...    decision model_prob rough_corrections
129     Аруга_NOUN  1778            1  ...  исправлено   0.108465             Друга
193       аанимает  1899            1  ...  исправлено   0.107925          занимает
223      адоровыхъ  1831            1  ...  исправлено   0.099915         здоровыхъ
370  ядляется_VERB  1896            1  ...  исправлено   0.110328          является
383  яолучить_VERB  1885            1  ...  исправлено   0.109294          получить

[5 rows x 12 columns]

In [0]:
evaluation.fp[-1]

         raw_ngram  year  ...  model_prob  rough_corrections
250      алемановъ  1869  ...    0.099940           алеманов
456  Албрехтъ_NOUN  1811  ...    0.109629          Альбрехтъ

[2 rows x 12 columns]

In [0]:
evaluation.evaluate_with_boudary(0.11082839220762253, 0.0999404564499855)

Precision -  0.8
Recall -  0.03
F1 -  0.06
Accuracy -  0.75
============================================================

In [0]:
evaluation.tp[-1]

         raw_ngram  year  match_count  ...    decision model_prob rough_corrections
129     Аруга_NOUN  1778            1  ...  исправлено   0.108465             Друга
193       аанимает  1899            1  ...  исправлено   0.107925          занимает
370  ядляется_VERB  1896            1  ...  исправлено   0.110328          является
383  яолучить_VERB  1885            1  ...  исправлено   0.109294          получить

[4 rows x 12 columns]

In [0]:
evaluation.fp[-1]

         raw_ngram  year  ...  model_prob  rough_corrections
456  Албрехтъ_NOUN  1811  ...    0.109629          Альбрехтъ

[1 rows x 12 columns]

In [0]:
evaluation.evaluate_with_boudary(0.109628863632679, 0.09979256987571716)

Precision -  0.8
Recall -  0.03
F1 -  0.06
Accuracy -  0.75
============================================================

In [0]:
evaluation.tp[-1]

          raw_ngram  year  ...  model_prob  rough_corrections
203          авсгро  1859  ...    0.000329             австро
282         анллиза  1887  ...    0.000860            анализа
306          апрьля  1836  ...    0.000553             апрѣля
325  архиеписко_ADJ  1841  ...    0.000531        архиепископ

[4 rows x 12 columns]

In [0]:
evaluation.fp[-1]

        raw_ngram  year  ...  model_prob  rough_corrections
119  Аргишти_NOUN  1880  ...    0.000877            Артисти

[1 rows x 12 columns]

### After applying the rules

In [0]:
%%time
evaluation.myCoolGridSearch(rules=True)

In [0]:
# for idx, rec in enumerate(evaluation.rec):
#   if rec > 0.11:
#     if evaluation.prec[idx]>0.72:
#       print('recall= {}\nidx = {}\nprecicion = {}\nf1 = {}\naccuracy = {}\nboundaries={}'.format(rec, 
#                                                                                                  idx,
#                                                                                                  evaluation.prec[idx], 
#                                                                                                  evaluation.f1[idx], 
#                                                                                                  evaluation.acc[idx], 
#                                                                                                  evaluation.boundaries
#                                                                                                  [idx]))
#       print('='*50)

In [0]:
evaluation.boundaries[41749]

[0.0008771931170485914, 0.0003082964103668928]

In [0]:
evaluation.tp[41749]

                raw_ngram  year  ...    model_prob  rough_corrections
72   Александровича2_NOUN  1869  ...  4.251733e-26     Александровича
177         Японск1е_NOUN  1786  ...  7.789776e-14           Японскіе
203                авсгро  1859  ...  3.292023e-04             австро
235         академическ1я  1818  ...  2.189020e-10      академическія
282               анллиза  1887  ...  8.601645e-04            анализа
306                апрьля  1836  ...  5.533596e-04             апрѣля
315         армянск1й_ADJ  1860  ...  4.826314e-08          армянскій
325        архиеписко_ADJ  1841  ...  5.305539e-04        архиепископ
342          ассигнован1я  1830  ...  4.298733e-09       ассигнованія
345            астроном1И  1821  ...  9.900248e-14         астрономіи
409          А1осквы_NOUN  1908  ...  5.041443e-09             Москвы
422           Авгл1я_NOUN  1837  ...  2.027337e-08             Англія
427       Австралии1_NOUN  1887  ...  1.958997e-07          Австралии

[13 rows x 12 columns]

In [0]:
evaluation.fp[41749]

       raw_ngram  year  ...    model_prob  rough_corrections
120        Ардеш  1852  ...  1.445414e-07              Орден
257   альн1_NOUN  1889  ...  5.517670e-09              альны
397  ясненш_NOUN  1786  ...  1.064793e-11              ясенъ

[3 rows x 12 columns]

In [0]:
evaluation.boundaries[12534]

[0.11082839220762253, 0.09979256987571716]

In [0]:
evaluation.tp[12534]

                raw_ngram  year  ...    model_prob  rough_corrections
72   Александровича2_NOUN  1869  ...  4.251733e-26     Александровича
129            Аруга_NOUN  1778  ...  1.084646e-01              Друга
177         Японск1е_NOUN  1786  ...  7.789776e-14           Японскіе
193              аанимает  1899  ...  1.079250e-01           занимает
223             адоровыхъ  1831  ...  9.991474e-02          здоровыхъ
235         академическ1я  1818  ...  2.189020e-10      академическія
315         армянск1й_ADJ  1860  ...  4.826314e-08          армянскій
342          ассигнован1я  1830  ...  4.298733e-09       ассигнованія
345            астроном1И  1821  ...  9.900248e-14         астрономіи
370         ядляется_VERB  1896  ...  1.103282e-01           является
383         яолучить_VERB  1885  ...  1.092944e-01           получить
409          А1осквы_NOUN  1908  ...  5.041443e-09             Москвы
422           Авгл1я_NOUN  1837  ...  2.027337e-08             Англія
427       Австралии1_NOUN  1887  ...  1.958997e-07          Австралии

[14 rows x 12 columns]

In [0]:
evaluation.fp[12534]

         raw_ngram  year  ...    model_prob  rough_corrections
120          Ардеш  1852  ...  1.445414e-07              Орден
250      алемановъ  1869  ...  9.994046e-02           алеманов
257     альн1_NOUN  1889  ...  5.517670e-09              альны
397    ясненш_NOUN  1786  ...  1.064793e-11              ясенъ
456  Албрехтъ_NOUN  1811  ...  1.096289e-01          Альбрехтъ

[5 rows x 12 columns]

In [0]:
evaluation.evaluate_with_boudary(0.0008771931170485914, 0.0003082964103668928, rules=True)

Precision -  0.74
Recall -  0.13
F1 -  0.23
Accuracy -  0.8
============================================================

In [0]:
evaluation.fp[-1]

       raw_ngram  year  ...    model_prob  rough_corrections
120        Ардеш  1852  ...  1.445414e-07              Орден
180   Яроши_NOUN  1875  ...  5.950703e-05              Гроши
257   альн1_NOUN  1889  ...  5.517670e-09              альны
397  ясненш_NOUN  1786  ...  1.064793e-11              ясенъ
440        Адаше  1833  ...  1.416731e-03              Бѣаше

[5 rows x 12 columns]

In [0]:
evaluation.tp[-1]

                raw_ngram  year  ...    model_prob  rough_corrections
69           АлексЪй_NOUN  1785  ...  1.001208e-10            Алексѣй
72   Александровича2_NOUN  1869  ...  4.251733e-26     Александровича
177         Японск1е_NOUN  1786  ...  7.789776e-14           Японскіе
203                авсгро  1859  ...  3.292023e-04             австро
235         академическ1я  1818  ...  2.189020e-10      академическія
282               анллиза  1887  ...  8.601645e-04            анализа
306                апрьля  1836  ...  5.533596e-04             апрѣля
315         армянск1й_ADJ  1860  ...  4.826314e-08          армянскій
325        архиеписко_ADJ  1841  ...  5.305539e-04        архиепископ
342          ассигнован1я  1830  ...  4.298733e-09       ассигнованія
345            астроном1И  1821  ...  9.900248e-14         астрономіи
409          А1осквы_NOUN  1908  ...  5.041443e-09             Москвы
422           Авгл1я_NOUN  1837  ...  2.027337e-08             Англія
427       Австралии1_NOUN  1887  ...  1.958997e-07          Австралии

[14 rows x 12 columns]